* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

body {
    display:flex;
    flex-flow: column nowrap;
}

ul {
    list-style-type: none;
}


a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px 300px 125px;
    background-color: #1f2937;
    gap: 125px;
}

.header {
    display: flex;
    justify-content: space-between;
}

#headerlogo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 20px;
}

.main {
    display: flex;
    gap: 50px;
}

.text {
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
    flex: 1;
}

#heromaintext {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

#heromaindesc {
    font-size: 18px;
    color: #e5e7eb;
}

#heromainimage {
    display: flex;
    background-color: #848a97;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1250px;
    height: auto;
    flex: 1;
    font-size: 18px;
    color: #e5e7eb;
}

#heromainbutton {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 6px;
    width: 125px;
    height: 30px;
    border: none;
    font-weight: bold;
}

.information {
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    gap: 50px;
}

.images {
    display:flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
}

.image {
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.imagebox {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-radius: 20px;
    border-color: #3882f6;
}

.imagetext {
    width: 200px;
    height: auto;
}

#informationtext {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.quote {
    padding: 100px 500px;
    display: flex;
    flex-flow: column nowrap;
    background-color: #e5e7eb;
    color: #1f2937;
}

#quotetext { 
    font-style: italic;
    font-size: 36px;
}

#quoteauthor {
    font-weight: bold;
    align-self: flex-end;
    font-size: 16px;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 125px;
}

.ctabox {
    display: flex;
    background-color: #3882f6;
    padding: 20px 100px;
    width: 1000px;
    height: 100px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
}

.ctatext {
    display: flex;
    flex-flow: column nowrap;
}

#header {
    color: #f9faf8;
    font-weight: bold;
    font-size: 20px;
}

#desc {
    color: #e5e7eb;
}

#ctabutton {
    color: #f9faf8;
    background-color: #3882f6;
    border-color: #f9faf8;
    border-radius: 6px;
    font-weight: bold;
    border-style: solid;
    padding: 10px 10px;
    width: 125px;
    font-size: 15px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    background-color: #1f2937;
    color: #f9faf8;
}